
<nav class="navbar navbar-dark bg-dark mb-4">
    <img src="/images/logo.jpeg" class="img-fluid" style="width: auto; height: 75px;" href="/">
    <div class="container">
        <a href="/" class="navbar-brand">AntBio</a>
    </div>
</nav>